<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #465E7A;">
  <table width="100%" cellpadding="3">
    <tr>
      <td>
        <div align="right">
          <span style="font-size: 10px;">
            Plot and character concepts presented on this site<br/>
            Copyrighted to stated authors.<br/>
            <a href="http://www.key-designs.com" class="ltl">Design by Key-Designs.</a>
        </span>
        </div>
      </td>
    </tr>
  </table>
</td>
