<tr>
  <td style="height: 100px; background-image:url(/banner.png);">
  </td>
</tr>
<tr>
  <td style="border-top: 1px solid #000000">
    <table width="100%" cellpadding="4" cellspacing="0" style="height: 30px; background-image:url(/back.gif);">
      <tr>
        <td width="100" style="border-right: 1px solid #000000;">
          <img src="{{ site.baseurl }}/littlebullet.gif">&nbsp;&nbsp;<a href="/"><b>Main</b></a>
        </td>
        <td width="100" style="border-right: 1px solid #000000;">
          <img src="{{ site.baseurl }}/littlebullet.gif">&nbsp;&nbsp;<a href="/games"><b>Projects</b></a>
        </td>
        <td width="100" style="border-right: 1px solid #000000;">
          <img src="{{ site.baseurl }}/littlebullet.gif">&nbsp;&nbsp;<a href="/misao"><b>Misao Awards</b></a>
        </td>
        <td width="100" style="border-right: 1px solid #000000;">
          <img src="{{ site.baseurl }}/littlebullet.gif">&nbsp;&nbsp;<a href="/reviews"><b>Reviews</b></a>
        </td>
        <td width="100" style="border-right: 1px solid #000000;">
          <img src="{{ site.baseurl }}/littlebullet.gif">&nbsp;&nbsp;<a href="/links.html"><b>Links</b></a>
        </td>
        <td width="200">
        </td>
      </tr>
    </table>
  </td>
</tr>
